.control {
	@apply w-full;
}
.control:hover .inputOutlined {
	@apply border-clr-info;
}
.control:hover .label {
	@apply text-clr-info;
}
.control:hover * {
	filter: brightness(1.25);
}
.control svg {
	border: none;
}
.control * {
	background: none;
}

.input {
	@apply text-clr-secondary border-2 border-clr-secondary;
	@apply text-ellipsis;
}

.inputOutlined {
	@apply border-clr-secondary;
}
.inputOutlined * {
	border-width: 0 !important;
}

.inputOnError fieldset {
	@apply border-clr-error !important;
}

.inputOnFocus * {
	@apply text-clr-secondary border-2 border-clr-secondary;
	box-shadow: none !important;
}
.inputOnFocus span {
	border: none;
}

.label {
	@apply text-clr-secondary text-opacity-50 px-[2px];
}

.labelOnError {
	@apply text-clr-error !important;
}

/* .labelOnFocus {
} */

.helper {
	@apply text-clr-secondary;
}

/* .helperOnError {
} */

.selectMenuPopover * {
	@apply text-clr-primary;
}
