@tailwind components;
@layer components {
	.shadow-compact {
		box-shadow: 0 0 1em rgba(255, 255, 255, 0.1);
	}
}

.container {
	@apply flex flex-col max-h-96 min-w-full gap-2 border px-3 border-none rounded;
	@apply sm:flex-row sm:h-52 sm:gap-3 sm:py-3 sm:overflow-hidden sm:bg-white sm:bg-opacity-5;
}

.container:hover .imgContainer {
	@apply brightness-125;
}

.container:hover .previewHead .titleLink h2 {
	@apply text-clr-accent;
}

.imgContainer {
	@apply relative aspect-video brightness-100 transition-all ease-in-out;
	@apply sm:block sm:min-w-[30%] sm:max-w-[30%];
}

.imgContainer > span {
	@apply border border-none rounded !important;
	@apply sm:h-full sm:min-w-full sm:max-h-fit sm:aspect-auto sm:shadow-compact !important;
}

.imgContainer img {
	@apply object-cover !important;
}

.previewContainer {
	@apply grow flex flex-col gap-2;
}

.previewHead {
	@apply line-clamp-2;
}

.previewHead .titleLink h2 {
	@apply transition-all ease-in-out;
}

.previewContent {
	@apply line-clamp-3;
}

.previewFooter {
	@apply flex flex-col mt-auto pt-4;
	@apply sm:flex-row sm:h-min sm:pt-0;
}

.tagsContainer {
	@apply absolute min-w-full bottom-0 gap-1 p-2 justify-center items-center;
	@apply sm:grow sm:justify-end sm:static sm:min-w-0 sm:line-clamp-1 sm:p-0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(40px, auto));
}

.tagsContainer li {
	@apply px-2 py-1 bg-gray-50 border border-none rounded bg-opacity-80 max-w-[70px];
}
.tagsContainer li * {
	@apply text-black break-all line-clamp-1;
}

.tagsContainer li small {
	@apply font-bold;
	font-size: xx-small;
}

.infoContainer {
	@apply flex gap-2;
	@apply md:w-1/2;
}

.infoContainer p {
	@apply overflow-hidden text-ellipsis line-clamp-2;
}

.infoContainer .icon {
	@apply flex shrink-0;
}

.infoContainer .author {
	@apply flex items-center gap-2 break-all;
}

.infoContainer .author * {
	@apply line-clamp-2;
}

.infoContainer .author::after {
	content: "";
	@apply border-r-2 border-white h-full;
}

.infoContainer .time {
	@apply flex items-center gap-2 shrink-0;
}
