.perfil
{
    margin: auto;
    background-color: rgba(0, 0, 0, 0.36);
    text-align: center;
    width: 450px;
    height: 350px;
    border-radius: 5px;
}
.rodelaimg
{
   width: 100px;
   height: 100px;
   background-color: rgba(0, 0, 0, 0.823);
   border-radius: 50%;
   margin: 20px;
}