.main {
	min-width: 200px;
	max-width: 1000px;
	margin: auto;
}

.profileContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	justify-content: center;
	margin: 24px 0;
}

.perfil {
	width: 400px;
	position: relative;
	padding: 24px;
}
.perfil img {
	float: left;
	height: 180px;
	margin-right: 16px;
	margin-bottom: 16px;
	border-radius: 4px;
}
.perfil h2 {
	margin-bottom: 16px;
}
.perfil .context {
	background-color: black;
	width: 100%;
	height: 100%;
	padding-top: 16px;
	padding-left: 16px;
	padding-right: 16px;
	margin-top: 16px;
	margin-left: 16px;
	border-radius: 4px;
}

.sobre {
}
