.formControl {
	@apply rounded overflow-hidden w-full;
}
.formControl button {
	@apply p-0 h-full w-full;
}
.formControl label {
	@apply h-full w-full;
}

.formControl figure {
	@apply h-full w-full;
}

.formControl figure img {
	@apply h-full w-full object-cover object-center;
}

.formControl legend {
	@apply flex p-1 h-full;
	@apply absolute top-0 left-0;
	@apply bg-clr-primary bg-opacity-80;
	@apply items-center;
}
.formControl legend span {
	writing-mode: vertical-lr;
	text-orientation: mixed;
	letter-spacing: 0.25em;
	transform: rotate(180deg);
}
